<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>termKeys</key>
	<array>
		<string>茄</string>
		<string>番茄</string>
		<string>青椒</string>
	</array>
	<key>terms</key>
	<array>
		<dict>
			<key>key</key>
			<string>茄</string>
			<key>termInEN</key>
			<string>eggplant</string>
			<key>sources</key>
			<array>
				<dict>
					<key>type</key>
					<string>wiki</string>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/f/f9/Three_Types_of_Eggplant.jpg</string>
					<key>url</key>
					<string>http://zh.wikipedia.org/zh-tw/%E8%8C%84</string>
					<key>title</key>
					<string>茄</string>
					<key>detail</key>
					<string>茄（學名：Solanum melongena）常稱茄子，吳越人沿用宋代叫法稱爲落蘇，廣東人稱為矮瓜，是茄科茄屬一年生草本植物，熱帶為多年生。其結出的果實可食用，顏色多為紫色或紫黑色，也有淡綠色或白色品種，形狀上也有圓形，橢圓，梨形等各種。茄子是一種典型的蔬菜，根據品種的不同，食用方法多樣。</string>
					<key>sourceURL</key>
					<string>zh.wikipedia.org</string>
				</dict>
				<dict>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/4/49/Solanum_melongena_ja02.jpg</string>
					<key>type</key>
					<string>wiki</string>
					<key>url</key>
					<string>http://en.wikipedia.org/wiki/Eggplant</string>
					<key>title</key>
					<string>Eggplant</string>
					<key>detail</key>
					<string>The eggplant, brinjal eggplant, aubergine, melongene, brinjal or guinea squash (Solanum melongena) is a plant of the family Solanaceae (also known as the nightshades) and genus Solanum. It bears a fruit of the same name, commonly used in cooking. As a nightshade, it is closely related to the tomato and potato. It was domesticated in India from Solanum incanum</string>
					<key>sourceURL</key>
					<string>en.wikipedia.org</string>
				</dict>
				<dict>
					<key>imageURL</key>
					<string>http://cdn2.icook.tw/uploads/picture/data/21409/small_b9ae3258ce19b2f2.jpg</string>
					<key>type</key>
					<string>icook</string>
					<key>url</key>
					<string>http://icook.tw/recipes/21260</string>
					<key>title</key>
					<string>茄子咖哩</string>
					<key>detail</key>
					<string>茄子削皮變白之後，完全看不出來有茄子呢! 茄子沖一下，拿刨刀去皮，抹一下鹽，去蒂，沖一下，切丁。</string>
					<key>sourceURL</key>
					<string>icook.tw</string>
				</dict>
				<dict>
					<key>type</key>
					<string>YKnowledge</string>
					<key>imageURL</key>
					<string></string>
					<key>url</key>
					<string>http://tw.rd.yahoo.com/referurl/knowledge/openapi/SEARCH/*http://knowledge.yahoo.com.tw/question/question?qid=1005012905297</string>
					<key>title</key>
					<string>[料理食譜] &lt;b&gt;茄子&lt;/b&gt;可以做出哪些好吃的料理呢??</string>
					<key>detail</key>
					<string>爽口紫茄所需材料：&lt;b&gt;茄子&lt;/b&gt; ... 1條(250克) 蒜頭 ... 2瓣&lt;sep/&gt;搗碎，再加入白醋及果糖調勻。 &lt;b&gt;茄子&lt;/b&gt;輕壓擠出水後，撕成絲狀，拌&lt;sep/&gt;豆腐泥滲出水份，再倒去水份。 &lt;b&gt;茄子&lt;/b&gt;洗淨後切成夾片(即一厚片中間&lt;sep/&gt;,status: 已解決,subject: &lt;b&gt;茄子&lt;/b&gt;可以做出哪些好吃的料理呢??</string>
					<key>sourceURL</key>
					<string>knowledge.yahoo.com.tw</string>
				</dict>
				<dict>
					<key>imageURL</key>
					<string>http://cdn1.icook.tw/uploads/picture/data/51102/small_e9cc1ece6d478677.jpg</string>
					<key>type</key>
					<string>icook</string>
					<key>url</key>
					<string>http://icook.tw/recipes/29388</string>
					<key>title</key>
					<string>醋拌茄子</string>
					<key>detail</key>
					<string>茄子富含維生素P可軟化血管與增強彈性，防治高血壓、壞血病、動脈硬化；纖維中的皂苷能降膽固醇。
茄子做成涼拌菜不但熱量低、 開胃，也很適合早晨搭配一碗熱呼呼的白稀飯唷！
</string>
					<key>sourceURL</key>
					<string>icook.tw</string>
				</dict>
				<dict>
					<key>type</key>
					<string>YKnowledge</string>
					<key>imageURL</key>
					<string></string>
					<key>url</key>
					<string>http://tw.rd.yahoo.com/referurl/knowledge/openapi/SEARCH/*http://knowledge.yahoo.com.tw/question/question?qid=1509071400568</string>
					<key>title</key>
					<string>[料理食譜] 需要&lt;b&gt;茄子&lt;/b&gt;料理..越多越好..給20點</string>
					<key>detail</key>
					<string>鮪魚醬&lt;b&gt;茄子 &lt;/b&gt;材料:&lt;b&gt;茄子&lt;/b&gt;兩條 鮪魚&lt;sep/&gt;鹽水中。 2.將水煮滾後，將&lt;b&gt;茄子&lt;/b&gt;放入約煮３～４&lt;sep/&gt;芝麻拌&lt;b&gt;茄子 &lt;/b&gt;材料：&lt;b&gt;茄子&lt;/b&gt;300g、 蔥1支 調味料&lt;sep/&gt;</string>
					<key>sourceURL</key>
					<string>knowledge.yahoo.com.tw</string>
				</dict>
				<dict>
					<key>imageURL</key>
					<string>http://cdn0.icook.tw/uploads/picture/data/17034/small_d52ff23cf15b8470.jpg</string>
					<key>type</key>
					<string>icook</string>
					<key>url</key>
					<string>http://icook.tw/recipes/20117</string>
					<key>title</key>
					<string>酥炸茄子</string>
					<key>detail</key>
					<string></string>
					<key>sourceURL</key>
					<string>icook.tw</string>
				</dict>
				<dict>
					<key>type</key>
					<string>instagram</string>
					<key>imageURL</key>
					<string>http://distilleryimage11.s3.amazonaws.com/100a3c6819cb11e29d8c22000a1fbd8b_7.jpg</string>
					<key>url</key>
					<string>http://instagr.am/p/Q9UAnpGHG3/</string>
					<key>title</key>
					<string>eggplant</string>
					<key>detail</key>
					<string></string>
					<key>sourceURL</key>
					<string>instagr.am</string>
				</dict>
				<dict>
					<key>imageURL</key>
					<string>http://cdn3.icook.tw/uploads/picture/data/27634/small_fea056721c818843.jpg</string>
					<key>type</key>
					<string>icook</string>
					<key>url</key>
					<string>http://icook.tw/recipes/22668</string>
					<key>title</key>
					<string>豆酥茄子</string>
					<key>detail</key>
					<string>豆酥的配菜功能超強,一般都是拿來做豆酥鱈魚,剛好今晚準備了茄子也有鱈魚,那就來改變一下菜單吧~</string>
					<key>sourceURL</key>
					<string>icook.tw</string>
				</dict>
				<dict>
					<key>type</key>
					<string>YKnowledge</string>
					<key>imageURL</key>
					<string></string>
					<key>url</key>
					<string>http://tw.rd.yahoo.com/referurl/knowledge/openapi/SEARCH/*http://knowledge.yahoo.com.tw/question/question?qid=1611122702027</string>
					<key>title</key>
					<string>[料理食譜]  &lt;b&gt;茄子&lt;/b&gt;的料理方法??</string>
					<key>detail</key>
					<string>鮪魚醬 &lt;b&gt;茄子 &lt;/b&gt;材料: &lt;b&gt;茄子&lt;/b&gt;兩條 鮪魚&lt;sep/&gt;～４分鐘。 3.將&lt;b&gt;茄子&lt;/b&gt;撈起迅速放於冰水中，以防止&lt;sep/&gt;材料： 雞里肌6條、&lt;b&gt;茄子&lt;/b&gt;2條、四季豆12根、麻油1&lt;sep/&gt;</string>
					<key>sourceURL</key>
					<string>knowledge.yahoo.com.tw</string>
				</dict>
				<dict>
					<key>type</key>
					<string>instagram</string>
					<key>imageURL</key>
					<string>http://distilleryimage1.s3.amazonaws.com/41c06faa19d211e2baac22000a1f975b_7.jpg</string>
					<key>url</key>
					<string>http://instagr.am/p/Q7hTrfrtnF/</string>
					<key>title</key>
					<string>eggplant</string>
					<key>detail</key>
					<string></string>
					<key>sourceURL</key>
					<string>instagr.am</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>番茄</string>
			<key>termInEN</key>
			<string>tomato</string>
			<key>sources</key>
			<array>
				<dict>
					<key>type</key>
					<string>wiki</string>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/d/d2/Tomatoes_plain_and_sliced.jpg</string>
					<key>url</key>
					<string>http://zh.wikipedia.org/zh-tw/%E7%95%AA%E8%8C%84</string>
					<key>title</key>
					<string>番茄</string>
					<key>sourceURL</key>
					<string>zh.wikipedia.org</string>
					<key>detail</key>
					<string>番茄（學名：Solanum lycopersicum，俗寫作蕃茄），在中國大陸北方又稱西紅柿，是茄科茄屬馬鈴薯亞屬的多年生草本植物。番茄原產於中美洲和南美洲，現作為食用蔬果已被全球性廣泛種植。</string>
				</dict>
				<dict>
					<key>type</key>
					<string>wiki</string>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/8/88/Bright_red_tomato_and_cross_section02.jpg</string>
					<key>url</key>
					<string>http://en.wikipedia.org/wiki/Tomato</string>
					<key>title</key>
					<string>Tomato</string>
					<key>detail</key>
					<string>The word &quot;tomato&quot; may refer to the plant (Solanum lycopersicum) or the edible, typically red, fruit that it bears. Originating in America, the tomato was spread around the world following the Spanish colonization of the Americas, and its many varieties are now widely grown, often in greenhouses in cooler climates.</string>
					<key>sourceURL</key>
					<string>en.wikipedia.org</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>青椒</string>
			<key>termInEN</key>
			<string>Green peppers</string>
			<key>sources</key>
			<array>
				<dict>
					<key>type</key>
					<string>wiki</string>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/1/1f/Poivrons_Luc_Viatour.jpg</string>
					<key>url</key>
					<string>http://en.wikipedia.org/wiki/Bell_peppers</string>
					<key>title</key>
					<string>Bell pepper</string>
					<key>detail</key>
					<string>Bell pepper, also known as sweet pepper or a pepper (in the United Kingdom) and capsicum (in India, Australia and New Zealand), is a cultivar group of the species Capsicum annuum. Cultivars of the plant produce fruits in different colors, including red, yellow, orange and green. Bell peppers are sometimes grouped with less pungent pepper varieties as &quot;sweet peppers&quot;. Peppers are native to Mexico, Central America and northern South America. Pepper seeds were later carried to Spain in 1493 and from there spread to other European, African and Asian countries. Today, China is the world&apos;s largest pepper producer, followed by Mexico.</string>
					<key>sourceURL</key>
					<string>en.wikipedia.org</string>
				</dict>
				<dict>
					<key>type</key>
					<string>wiki</string>
					<key>imageURL</key>
					<string>http://upload.wikimedia.org/wikipedia/commons/1/1f/Poivrons_Luc_Viatour.jpg</string>
					<key>url</key>
					<string>http://zh.wikipedia.org/wiki/%E8%8F%9C%E6%A4%92</string>
					<key>title</key>
					<string>菜椒</string>
					<key>sourceURL</key>
					<string>zh.wikipedia.org</string>
					<key>detail</key>
					<string>菜椒（學名：Capsicum annuum var. grossum）俗稱燈籠椒、柿子椒、甜椒，臺灣話也稱作大筒仔，是茄科辣椒屬辣椒的一個變種，分佈於中國大陸的南北各地，屬於“非人工引種栽培”類型植物 [1]。在東亞（尤其是中國），所出產的甜椒品種因多為青色，故也常常被稱為“青椒”。</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
